* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/* inizio nav */

nav {
    position: fixed;
    z-index: 10;
    left: 0px;
    right: 0px;
}

nav .container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #ff6900;
    width: 100%;
    height: 70px;

    box-shadow: 0px 0px 5px 0px black;
}

#categories {
    display: flex;
    gap: 10px;
}

#categories a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#logo img {
    height: 30px;
}

#menu {
    display: flex;
    gap: 10px;
}

#menu a path {
    fill: white;
}

/* fine nav */

/* inizio main */

main .container-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 130px;
    gap: 20px;
}

.inserction {
    position: relative;
}

.inserction img {
    height: 650px;
}

.inserction .brand {
    font-size: 12px;
}

.inserction .clt {
    font-size: 15px;
    font-weight: bold;
}

.inserction .price {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.inserction .price span {
    color: black;
    text-decoration: line-through;
    font-weight: normal;
}

/* BOXES */

.heartbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 0px;

    height: 50px;
    width: 50px;

    background-color: white;
    font-size: 35px;
}


