* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/* inizio nav */

nav {
    position: fixed;
    z-index: 10;
    left: 0px;
    right: 0px;

    width: 100%;
    background-color: #ff6900;
    box-shadow: 0px 0px 5px 0px black;
}

nav .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;
    height: 70px;
    max-width: 1410px;
    margin: auto;
}

#categories {
    display: flex;
    gap: 10px;
}

#categories a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#logo img {
    height: 30px;
}

#menu {
    display: flex;
    gap: 10px;
}

#menu a path {
    fill: white;
}

/* fine nav */

/* inizio main */

main .container-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 130px;
    margin: auto auto 60px;
    gap: 50px 20px;

    max-width: 1410px;
}

.inserction {
    position: relative;
}

.inserction .main-img {
    height: 650px;
    width: 450px;
    opacity: 1;
}

.inserction .b-img {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 650px;
    width: 450px;
    opacity: 0;

    opacity: 0;
    transition: 0.3s;
}

.inserction .brand {
    font-size: 12px;
}

.inserction .clt {
    font-size: 15px;
    font-weight: bold;
}

.inserction .price {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.inserction .price span {
    color: black;
    text-decoration: line-through;
    font-weight: normal;
}

/* BOXES */

.heartbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 0px;

    z-index: 3;

    height: 50px;
    width: 50px;

    border: none;
    background-color: white;
    font-size: 35px;
}

.red-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 95px;
    left: 0px;

    z-index: 3;

    height: 26px;
    width: 55px;

    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.green-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 95px;
    left: 60px;

    z-index: 3;

    height: 26px;
    width: 100px;

    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.inserction:nth-of-type(6) .green-box {
    left: 0px;
}

/* fine main */

/* inizio footer */

footer .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #1a1a1a;
    width: 100%;
    height: 110px;
}

#srl article {
    font-size: 15px;
    font-weight: bold;
    color: white;

    padding-bottom: 20px;
}

#srl div {
    display: flex;
    gap: 10px;
}

#srl div a {
    text-decoration: none;
    font-size: 10px;
    color: white;
}

#right-f article {
    font-size: 15px;
    font-weight: bold;
    color: white;

    padding-bottom: 10px;
}

#social {
    display: flex;
    gap: 10px;
}

#social a path {
    fill: white;
}

/* fine footer */

/* inizio hover */

.inserction:hover .b-img {
    opacity: 1;
}

.heartbox:hover {
    color: red;
}